===[ Version ]===
{{switch_output.stdout[0]}}

===[ Interface Status ]===
{{switch_output.stdout[1]}}

===[ Inventory ]===
{{switch_output.stdout[2]}}

===[ Module ]===
{{switch_output.stdout[3]}}

===[ Power ]===
{{switch_output.stdout[4]}}

===[ CDP Neighbors ]===
{{switch_output.stdout[5]}}

===[ Spanning Tree Root ]===
{{switch_output.stdout[6]}}

===[ Etherchannel Summary ]===
{{switch_output.stdout[7]}}

===[ Environment All ]===
{{switch_output.stdout[8]}}

===[ Power Inline All ]===
{{switch_output.stdout[9]}}

===[ Switch Stack Information ]===
{{switch_output.stdout[10]}}

===[ Switch Stack-Power ]===
{{switch_output.stdout[11]}}

{#

#}