===[ Version ]===
{{router_output.stdout[0]}}

===[ Environment ]===
{{router_output.stdout[1]}}

===[ Interfaces ]===
{{router_output.stdout[2]}}

===[ EIGRP Neighbors ]===
{{router_output.stdout[3]}}

===[ EIGRP Interfaces ]===
{{router_output.stdout[4]}}

===[ OSPF Neighbors ]===
{{router_output.stdout[5]}}

===[ OSPF Interfaces ]===
{{router_output.stdout[6]}}

===[ BGP Summary ]===
{{router_output.stdout[7]}}

===[ Route Table ]===
{{router_output.stdout[8]}}

===[ CDP Neighbor ]===
{{router_output.stdout[9]}}

===[ IP Protocols ]===
{{router_output.stdout[10]}}

===[ Inventory ]===
{{router_output.stdout[11]}}

{#

#}