===[ Version ]===
{{l3cs_output.stdout[0]}}

===[ Interfaces ]===
{{l3cs_output.stdout[1]}}

===[ EIGRP Neighbors ]===
{{l3cs_output.stdout[2]}}

===[ EIGRP Neighbors ]===
{{l3cs_output.stdout[3]}}

===[ OSPF Neighbors ]===
{{l3cs_output.stdout[4]}}

===[ OSPF Interfaces ]===
{{l3cs_output.stdout[5]}}

{#

===[ BGP Summary ]===
{{l3cs_output.stdout[6]}}

#}

===[ Route Table ]===
{{l3cs_output.stdout[7]}}

===[ CDP Neighbor ]===
{{l3cs_output.stdout[8]}}

===[ IP Protocols ]===
{{l3cs_output.stdout[9]}}

{#

#}