===[ Version ]===
{{nxos_output.stdout[0]}}

===[ Interface Status ]===
{{nxos_output.stdout[1]}}

===[ Inventory ]===
{{nxos_output.stdout[2]}}

===[ Module ]===
{{nxos_output.stdout[3]}}

===[ CDP Neighbors ]===
{{nxos_output.stdout[4]}}

===[ Spanning Tree ]===
{{nxos_output.stdout[5]}}

===[ VPC ]===
{{nxos_output.stdout[6]}}

===[ FEX ]===
{{nxos_output.stdout[7]}}

===[ Environment All  ]===
{{nxos_output.stdout[8]}}

===[ Environment FEX All  ]===
{{nxos_output.stdout[9]}}

{#

#}