===[ Version ]===
{{l2cs_switch_output.stdout[0]}}

===[ Interface Status ]===
{{l2cs_switch_output.stdout[1]}}

===[ Inventory ]===
{{l2cs_switch_output.stdout[2]}}

===[ Module ]===
{{l2cs_switch_output.stdout[3]}}

===[ Power ]===
{{l2cs_switch_output.stdout[4]}}

===[ CDP Neighbors ]===
{{l2cs_switch_output.stdout[5]}}

===[ Spanning Tree Root ]===
{{l2cs_switch_output.stdout[6]}}

===[ Etherchannel Summary ]===
{{l2cs_switch_output.stdout[7]}}

===[ Environment All ]===
{{l2cs_switch_output.stdout[8]}}

===[ Power Inline All ]===
{{l2cs_switch_output.stdout[9]}}


{#

#}