===[ Version ]===
{{agg_switch_output.stdout[0]}}

===[ Interface Status ]===
{{agg_switch_output.stdout[1]}}

===[ Inventory ]===
{{agg_switch_output.stdout[2]}}

===[ Module ]===
{{agg_switch_output.stdout[3]}}

===[ Power ]===
{{agg_switch_output.stdout[4]}}

===[ CDP Neighbors ]===
{{agg_switch_output.stdout[5]}}

===[ Spanning Tree Root ]===
{{agg_switch_output.stdout[6]}}

===[ Etherchannel Summary ]===
{{agg_switch_output.stdout[7]}}

===[ Environment All ]===
{{agg_switch_output.stdout[8]}}

===[ Power Inline All ]===
{{agg_switch_output.stdout[9]}}

{#

#}